node_modules/
dump.json
concept_mining.pdf
.vscode/
.DS_Store
data.csv
vectors.txt
wordslist.npy
wordslist.txt
neg/
pos/
idsMatrix.npy
models/
tensorboard/
train.csv
gen1_models/
gen1_tensorboard/
train_new.csv
models_old/